<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".LiveInPeaceApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiveInPeace"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.LiveInPeace">
        </activity>
        <activity-alias
            android:name=".MainActivityAlias"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LiveInPeace"
            android:enabled="false"
            android:targetActivity=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".activity.HistoryActivity"
            android:theme="@style/Theme.LiveInPeace" />

        <service
            android:name=".service.ForegroundService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </service>
        <service
            android:name=".service.QSTileService"
            android:exported="true"
            android:icon="@drawable/icon_qs_off"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
                <action android:name="com.maary.liveinpeace.ACTION_FOREGROUND_SERVICE_STATE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.HistoryTileService"
            android:exported="true"
            android:icon="@drawable/ic_action_history"
            android:label="@string/history"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SettingsReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.maary.liveinpeace.SettingsReceiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MuteMediaReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.maary.liveinpeace.MUTE_MEDIA" />
                <action android:name="com.maary.liveinpeace.action.CANCEL" />
                <action android:name="com.maary.liveinpeace.action.INCREMENT" />
                <action android:name="com.maary.liveinpeace.action.DECREMENT" />
                <action android:name="com.maary.liveinpeace.action.TOGGLE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>